@model IPagedList<WebApplication1.Models.Catagory>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc;
@using PagedList;
<h2>Index</h2>
@Html.Raw(TempData["Create"])
@Html.Raw(TempData["Edit"])
@Html.Raw(TempData["Delete"])
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.CatagoryName)*@
            <p>Catagory</p>
        </th>

        <th>
            <p>Status</p>
        </th>

        <th>
            <p>Action</p>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatagoryName)
            </td>
            <td>
                @Html.ActionLink("Active", "EditCataory", new { id = item.CatagoryId }) |
                @Html.ActionLink("Deactive", "Details", new { id = item.CatagoryId })
            </td>
            <td>
                @*@Html.ActionLink("Product","Product",new  { id = item.CatagoryId,})*@
                @Html.ActionLink("ProductList", "Index", "Product", new { id = item.CatagoryId }, null) |
                @Html.ActionLink("Edit Catagory", "EditCataory", new { id = item.CatagoryId }) |
                @Html.ActionLink("Delete Catagory", "Delete", new { id = item.CatagoryId })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model,i=>Url.Action("Index","Catagory",new {i, search = Request.QueryString["search"] }))
