@*@model IEnumerable<WebApplication1.Models.Product>*@
@using WebApplication1.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList<WebApplication1.Models.Product>

@{
    ViewBag.Title = "IndexList";
}

<h2>IndexList</h2>
@Html.Raw(TempData["Create"])
@Html.Raw(TempData["Delete"])
<p>
    @Html.ActionLink("Create New", "Create")

</p>
<p>
    @Html.ActionLink("Back to Catagory", "Index", "Catagory")
</p>
<table class="table">
    <tr>
        <th>
             CatagoryName
        </th>
        <th>
           ProductName
        </th>
        <th>
       ProductPrice
        </th>
        <th>
           Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory.CatagoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
<div></div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber )/@Model.PageCount)
<div>
    @Html.PagedListPager(Model ,page => Url.Action("IndexList","Product", new { page = page } ))
    </div>

